<div class="items-wrapper">
    <a class="item" href="/list-uploaded-data" target="_blank">
        View Uploaded Files
    </a>
    <a class="item" href="/function-chain" target="_blank">
        View Function Chaining
    </a>
    <a class="item" href="/restaurant" target="_blank">
        View Restaurant Problem
    </a>
</div>