body{
    padding: 0px;
    margin: 0px;
}
.top-bar{
    display: block;
    background-color: #f2f2f2;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
}

.table-wrapper{
    width: 1200px; max-width: 100%;
    margin: 0px auto;
    padding: 20px;
}

.items-wrapper{
    display: flex;
    justify-content: center;
    a{
        display: block;
        width: 200px;
        height: 200px;
        line-height: 200px;
        background-color: #f2f2f2;
        color: black;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        margin: 5px;
        text-align: center;

    }
}